input {
    width: calc(100% - 30px);
    background-color: var(--fourtary);
    font-size: var(--small);
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    
   
  }
  
 input:focus {
    text-decoration: none;
    outline: 1px var(--primary) solid;
    background-color: var(--territary);
  }