
.App {
  width: 100vw; 
  min-height: 100vh; 
  height: max-content; 
  background-color: var(--secondary); 
}



:root {

    --primary: #679ae2;
    --secondary: #232b3b;
    --territary: #393e46;
    --fourtary: #1e3347;

    --primary-text: #ffffff;
    --secondary-text: #DBDCDD;

    --doto: #E9493B;
    --csgo: #849abd;
    --volarant: #6FEB6F;
    --fortnite: #7ed1ed;

    --box-shadow:  rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --box-shadow-two:   rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}

body, * {
   color: var(--primary-text);
   scroll-behavior: smooth;
   scroll-snap-type:inline mandatory;
   transition: scroll-behavior 10s;
   font-family: 'Gilroy', sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}


::-webkit-scrollbar-track {
  background: transparent;;
}


::-webkit-scrollbar-thumb {
  background: white;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width: 767px) {
  :root {
      --heading: 24px;
      --sub-heading: 20px;
      --big: 16px;
      --medium: 14px;
      --small: 12px;
      --ultra-small: 10px;

      --nav-width: 220px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --heading: 30px;
    --sub-heading: 24px;
    --big: 18px;
    --medium: 16px;
    --small: 14px;
    --ultra-small: 12px;

    --nav-width: 250px;
  }
}


@media (min-width: 992px) {
  :root {
    --heading: 36px;
    --sub-heading: 28px;
    --big: 20px;
    --medium: 18px;
    --small: 16px;
    --ultra-small: 14px;

    --nav-width: 280px;
  }
}


dialog {
  padding: 0px 0px;
  
  border: 0px;
  border-radius: 6px;
  max-width: 300px;
  min-width: 0px;
   width: auto;
   font-size: var(--small);
   font-weight: bold;
   background-color: var(--territary);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 
  }

  

dialog::backdrop {
  background-color: rgba(35, 43, 59,0.5);
  background-color: rgba(0, 0, 0,0.5);
  padding: 20px;
  
}

.modal-heading {
  width: cal(100% - 60px);
  font-size: var(--small);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border-bottom: var(--secondary) solid 1px;
  margin: 0px 0px;
  padding:  10px 30px;
}

.modal-buttons {
  display: flex;
  width: 100%;
  height: 85px;
  cursor: pointer;
  flex-direction: column-reverse;
  overflow: hidden;
}

.modal-no {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-yes {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--secondary) solid 1px;
  color: var(--primary);
}


/* -------------------Web View------------------ */

/* ****************** Auth.js ********************* */

.auth-container {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
}

.auth {
  max-width: 500px;
  /* width: 100vw; */
  min-width: 0px;
  min-height: calc(100vh - 40px); 
  padding: 20px 0px;
  height: max-content; 
  display: flex;
  justify-content:center;
  align-items: center;
  /* overflow-y: scroll; */
 margin-left: auto;
 margin-right: auto;
}

.login .app-name {
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  padding: 0px 32px;
  animation: shadow 2s ease-in-out infinite;
  font-size: var(--heading);
}

@keyframes shadow {
  0% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.5),
    0 0 30px rgba(255, 0, 0, 0.3),
    0 0 40px rgba(255, 0, 0, 0.2),
    0 0 50px rgba(255, 0, 0, 0.1),
    0 0 60px rgba(255, 0, 0, 0.05);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 0, 0.5),
    0 0 30px rgba(255, 255, 0, 0.3),
    0 0 40px rgba(255, 255, 0, 0.2),
    0 0 50px rgba(255, 255, 0, 0.1),
    0 0 60px rgba(255, 255, 0, 0.05);
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 255, 0, 0.5),
    0 0 30px rgba(0, 255, 0, 0.3),
    0 0 40px rgba(0, 255, 0, 0.2),
    0 0 50px rgba(0, 255, 0, 0.1),
    0 0 60px rgba(0, 255, 0, 0.05);
  }
}

.login {
  background-color: var(--territary);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0px;
  padding: 32px 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.login .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.login .heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 5px;

}

.login .sub-text {
  font-size: var(--medium);
}

.login form {
  width: calc(100% - 64px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.login input {
  background-color: var(--secondary);
  border: 0px;
  height: 30px;
  margin-bottom: 12px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  
 
}

.login input:focus {
  border: 0px;
  text-decoration: none;
  outline: none;

}

button {
  all: unset;
}

.login .submit {
  height: 30px;
  padding: 5px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small);
  font-weight: bold;
  border-radius: 5px;
  font-size: var(--small);
  margin-top: 20px;
}

.login .password, .username, .forgot-password, .new-account {
  font-size: var(--small);
  margin-bottom: 5px;
}

.login .forgot-password,.new-register,.submit {
  
  cursor: pointer;
}

.login .forgot-password {
  margin-bottom: 0px;
  margin-top: 5px;
  color: var(--primary);
}

.login .new-register {
  color: var(--primary);
}

.login .new-account {
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.login .step-nav {
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.login .prev,.next {
   color: var(--primary);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: var(--small);
}

/* **************** SignUp ************** */

.Signup .app-name {
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  padding: 0px 32px;
  animation: shadow 2s ease-in-out infinite;
  font-size: var(--heading);
}

.Signup {
  background-color: var(--territary);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0px;
  padding: 32px 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.Signup .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.Signup .heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 5px;

}

.Signup .sub-text {
  font-size: var(--medium);
}

.Signup form {
  width: calc(100% - 64px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  height: 73px;
  /* background-color: red; */
}

.Signup input {
  background-color: var(--secondary);
  border: 0px;
  height: 30px;
  margin-bottom: 0px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  width: calc(100% - 20px);
 
}

.Signup .password-input-box {
  width: 100%;
  /* background-color: red; */
  position: relative;
}

.Signup .password-input-box-icon {
  position: absolute;
  width: var(--heading);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  aspect-ratio: 1/1;
  right: var(--ultra-small);
  cursor: pointer;
  top: 0;
}

.Signup input:focus {
  border: 0px;
  text-decoration: none;
  outline: none;

}

/* SelectBox.css */
.Signup select {
  width: 100%;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  background-color: var(--secondary);
  font-size: var(--small);
 
}

.Signup  select:focus {
  outline: none;
  border: 0px solid #007bff;
  /* box-shadow: 0 0 5px #007bff; */
}
 .Signup select option {
  /* background-color: white; */
  /* color: #333; */
  padding: 5px 10px;
  border: none;
  font-size: var(--small);
  outline: none;
  border: 1px solid #00ff88;
  background-color: white;
  color: #ef0404;  
}
.Signup  select option:hover {
  background-color: #000000;
  color: rgb(0, 0, 0);
}



.Signup .submit {
  height: 30px;
  padding: 5px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small);
  font-weight: bold;
  border-radius: 5px;
  font-size: var(--small);
  margin-top: 0px;
}

.Signup .password, .label, .forgot-password, .new-account {
  font-size: var(--small);
  margin-bottom: 5px;
  display: flex;

}


.Signup .forgot-password,.new-register,.submit {
  cursor: pointer;
}

.Signup .forgot-password {
  margin-bottom: 10px;
  color: var(--primary);
}

.Signup .new-register {
  color: var(--primary);
}

.Signup .new-account {
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.Signup .step-nav {
  width: calc(100% - 64px);
  height: 20px;
  /* background-color: red; */
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.Signup .prev,.next {
   color: var(--primary);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: var(--small);
}


/* Style the date picker input */
input[type="datetime-local"] {
  width: calc(100% - 20px);
  /* padding: 0px; */
  margin: 0px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  /* width: 100%; */
  /* background-color: #fff;  */
  color: #000000; 
  font-size: 18px; 
  padding: 5px; 
  filter: invert(1) grayscale(100%);
  border-radius: 50%; 
  /* border: 1px solid #ccc; */
}

/* Style the calendar days and set the background color */
input[type="datetime-local"]::-webkit-calendar-picker-indicator::before {
  color: #333;
  font-size: 16px;
  background-color: #000;
}

/* Style the calendar arrows */
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button {
  display: none;
}



/* ************ Not found ********************* */
.not-found {
  width: 100%;
  height: 100vh;
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
}

.not-found-heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 20px;
}

.not-found-404 {
  font-size: var(--big);
  
  /* position: absolute; */
  color: rgb(255, 255, 255);
  /* text-shadow: #6FEB6F 10px 10px; */
}

.joystick {
  /* filter: "drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25))"; */
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25) ;
}



/* ****** Circular bar *************************** */
.circular-bar-container {
  aspect-ratio: 1/1;
  /* background-color: var(--primary); */
  border-radius: 50%;

  position: relative
}

.circular-bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 2px solid var(--primary); /* change color as needed */
  border-top-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
 /* change color as needed */
  animation: spin 0.2s linear infinite;
  
}


/* *************** Dashboard ******************************** */
.dashboard {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  background-color: var(--fourtary);
  
  background: linear-gradient(to bottom right, var(--fourtary),var(--secondary));
}

.dashboard-navigation {
  /* border-right: 1.5px var(--territary) solid; */
  position: relative;
  overflow-y: auto;
  background-color: var(--secondary);
   width: max-content;
   min-height: 100vh;
   min-width: var(--nav-width);
   /* box-shadow: 10px 10px 10px  10px white; */
   box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar {

  display: flex;  
  flex-direction: column;  
  height: max-content;  
  /* background-color: red; */
  width: calc(100% - 40px);  
  margin: 0px 20px;
 
}



.navbar .app-name {
  font-weight: bold;
  margin: 18px 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% - 64px);
  padding: 0px 0px;
  /* animation: shadow 2s ease-in-out infinite; */
  font-size: var(--sub-heading);
  color: orangered;
}

.non-active-nav-link {
  text-decoration : none;
  font-size : var(--medium);
  border-radius : 7px;
  display : flex;
  align-items : center;
  padding : 13px 15px;
}

/* .non-active-nav-link:hover{
  background-color : var(--territary)
} */

.active-nav-link {
  background-color : var(--territary)
}

.non-active-nav-link-profile {
  text-decoration : none;
  font-size : var(--medium);
  background-color: var(--fourtary);
  border-radius : 7px;
  display : flex;
  align-items : center;
  padding : 13px 15px;
  position: relative;
  margin-top: 40px;
}

.active-nav-link-profile {
  background-color : var(--territary)
}


.dashboard-content {
  width: max-content;
  min-height: 100vh;
  
  /* min-width: 280px; */
  width: calc(100% - var(--nav-width));
  overflow-y: scroll;
  /* background-color: #007bff; */
  /* background-color: var(--fourtary); */
  position: relative;
  /* background-color: red; */
 
}

.dashboard-content-container {
  width: 100%;
  height: 100%;
}

.app-bar { display: none;}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}










/* ********** profile*********************** */

.profile {
  width: 100%;
  min-height: 100%;
  height: max-content;
}

.profile-container  {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
}

.profile-head {
  object-fit: contain;
  background-repeat: no-repeat;
  background-size:cover;
  mix-blend-mode:luminosity; 
  height: calc( 250px - 40px);
  border-bottom: 0.5px var(--territary) solid;
  display: flex;
  align-items: center;
  padding: 20px 40px;
}

.profile-pic  {
   width: 130px;
   aspect-ratio: 1/1;
   background-color: var(--primary);
   border-radius: 50%;
}

.profile-head-body {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--medium);
  font-weight: bold;
  margin-left: 20px;
}



.profile-body {
  height: max-content;
  background-color: var(--secondary);
  margin: 20px;
  box-shadow: var(--box-shadow-two);
  border-radius: 7px;
}

.profile-body-item {
  width: calc(100% - 40px);
  text-decoration : none;
  font-size : var(--medium);
  border-radius : 7px;
  display : flex;
  align-items : center;
  padding : 13px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  
}

.profile-body-item:hover {
  background-color: var(--territary);
}










@media (max-width: 700px) {

  dialog { 
     width: 75%;
  }

  .auth{
    padding: 0px;
    max-width: 100%;
    margin: 0px 20px;
  }

  .dashboard {
    flex-direction: column-reverse;
  }

  .dashboard-navigation { 
    width: 100%;
    height: 80px;
    min-width: none;
    min-height: 0px;
   }

  

   .navbar .app-name { 
    display: none;
   }

   .non-active-nav-link-profile { 
    margin-top: 0px;
   }

   .dashboard-content {
    width: max-content;
    min-height: calc( 100vh - 50px);
    width: calc(100% - var(--nav-width));
  }


  .dashboard {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--fourtary);
    background: linear-gradient(to bottom right, var(--fourtary),var(--secondary));
  }
  
  .dashboard-navigation {
    border-top: 0.5px var(--territary) solid;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    width: max-content;
    min-height: 0px;
    height: 55px;
    min-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  }
  

  .navbar {
    display: flex;  
    flex-direction: row;  
    height: max-content;  
    /* background-color: red; */
    width: calc(100% - 0px);  
    margin: 0px 0px;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
 
  
  
  .navbar .app-name {
    font-weight: bold;
    margin: 18px 10px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 64px);
    padding: 0px 0px;
    font-size: var(--sub-heading);
    color: orangered;
    display: none;
  }

  
  .non-active-nav-link {
    text-decoration : none;
    font-size : var(--heading);
    border-radius : 50%;
    display : flex;
    align-items : center;
    aspect-ratio: 1/1;
    padding : 5px 5px;
  }
  
  .active-nav-link {
    background-color : #98651D;
    filter: invert();
  }
  
  .non-active-nav-link-profile {
    text-decoration : none;
    font-size : var(--heading);
    background-color:transparent;
    border-radius : 50%;
    aspect-ratio: 1/1;
    display : flex;
    align-items : center;
    padding : 5px 5px;
    position: relative;
    margin-top: 0px;
  }

  .non-active-nav-link-profile span{
    display: none;
  }

  
  .active-nav-link-profile {
    background-color : #98651D;
    filter: invert(90%);
    
  }
 
  
  
  .dashboard-content {
    width: max-content;
    min-height: calc(100vh - 110px);
    width: calc(100% );
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
    padding-top: 55px;
  }

  .dashboard-content-container {
    max-width: 450px;
    height: 100%;
  }

  .app-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    width: 100vw;
    height: 55px;
    backdrop-filter: blur(10px);
    border-bottom: 0.5px var(--territary) solid;
    background-color:  rgba(30, 51, 71, 0.5);
  }



  .app-bar .name {
   
    font-size: var(--heading);
    font-weight: bold;
  }


  /* ******************** profile ******************** */
  .profile-head {
    height: 100px;
   }
   .profile-pic  {
    width: 65px;
    height: 65px;
   } 
   
}

/* Styles for tablet devices */
@media (min-width: 700px) and (max-width: 991px) {
  .profile-pic {
    width: 90px;
    height: 90px;
  }
}

/* Styles for desktop devices */
@media (min-width: 992px) {
  
}



.game {
  text-align: center;
}

h1 {
  margin-top: 0;
}

.score {
  font-size: 24px;
  margin-bottom: 20px;
}

.choices {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.choice {
  font-size: 24px;
  font-weight: bold;
  margin: 0 10px;
  cursor: pointer;
  transition: border 0.2s;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.choice:hover {
  border: 2px solid black;
}

.selected {
  border: 2px solid black;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.result div {
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}

.user-choice {
  color: green;
}

.computer-choice {
  color: red;
}

.result-text {
  color: blue;
}
