
.App {
  width: 100vw; 
  min-height: 100vh; 
  height: max-content; 
  /* overflow: hidden; */ 
  background-color: var(--secondary); 
  /* background-color: red; */
}

:root {

    --primary: #679ae2;
    --secondary: #232b3b;
    --territary: #393e46;
    --fourtary: #1e3347;

    --primary-text: #ffffff;
    --secondary-text: #DBDCDD;

    --doto: #E9493B;
    --csgo: #849abd;
    --volarant: #6FEB6F;
    --fortnite: #7ed1ed;
}

body, * {
   color: var(--primary-text);
   scroll-behavior: smooth;
   scroll-snap-type:inline mandatory;
   transition: scroll-behavior 10s;
   font-family: 'Gilroy', sans-serif;
   /* background-color: var(--secondary); */
}

@media (max-width: 767px) {
  :root {
      --heading: 24px;
      --sub-heading: 20px;
      --big: 16px;
      --medium: 14px;
      --small: 12px;
      --ultra-small: 10px
    }
}

/* Styles for tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --heading: 30px;
    --sub-heading: 24px;
    --big: 18px;
    --medium: 16px;
    --small: 14px;
    --ultra-small: 12px
  }
}

/* Styles for desktop devices */
@media (min-width: 992px) {
  :root {
    --heading: 36px;
    --sub-heading: 28px;
    --big: 20px;
    --medium: 18px;
    --small: 16px;
    --ultra-small: 14px
  }
}


dialog {
  padding: 0px 0px;
  /* margin: auto 20px; */
  
  border: 0px;
  border-radius: 6px;
  max-width: 300px;
  min-width: 0px;
   width: auto;
   font-size: var(--small);
   font-weight: bold;
   background-color: var(--territary);
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 
  }

  

dialog::backdrop {
  background-color: rgba(35, 43, 59,0.5);
  background-color: rgba(0, 0, 0,0.5);
  padding: 20px;
  
}

.modal-heading {
  width: cal(100% - 60px);
  font-size: var(--small);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  border-bottom: var(--secondary) solid 1px;
  margin: 0px 0px;
  padding:  10px 30px;
}

.modal-buttons {
  display: flex;
  width: 100%;
  height: 85px;
  cursor: pointer;
  flex-direction: column-reverse;
  overflow: hidden;
}

.modal-no {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-yes {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--secondary) solid 1px;
  color: var(--primary);
  /* background-color: var(--primary); */
}


/* -------------------Web View------------------ */

/* ****************** Auth.js ********************* */

.auth {
  max-width: 500px;
  /* width: 100vw; */
  min-width: 0px;
  min-height: calc(100vh - 40px); 
  padding: 20px 0px;
  height: max-content; 
  display: flex;
  justify-content:center;
  align-items: center;
  /* overflow-y: scroll; */
 margin-left: auto;
 margin-right: auto;
}

.login .app-name {
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  padding: 0px 32px;
  animation: shadow 2s ease-in-out infinite;
  font-size: var(--heading);
}

@keyframes shadow {
  0% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.5),
    0 0 30px rgba(255, 0, 0, 0.3),
    0 0 40px rgba(255, 0, 0, 0.2),
    0 0 50px rgba(255, 0, 0, 0.1),
    0 0 60px rgba(255, 0, 0, 0.05);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 0, 0.5),
    0 0 30px rgba(255, 255, 0, 0.3),
    0 0 40px rgba(255, 255, 0, 0.2),
    0 0 50px rgba(255, 255, 0, 0.1),
    0 0 60px rgba(255, 255, 0, 0.05);
  }
  100% {
    text-shadow: 0 0 20px rgba(0, 255, 0, 0.5),
    0 0 30px rgba(0, 255, 0, 0.3),
    0 0 40px rgba(0, 255, 0, 0.2),
    0 0 50px rgba(0, 255, 0, 0.1),
    0 0 60px rgba(0, 255, 0, 0.05);
  }
}

.login {
  background-color: var(--territary);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0px;
  padding: 32px 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.login .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.login .heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 5px;

}

.login .sub-text {
  font-size: var(--medium);
}

.login form {
  width: calc(100% - 64px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.login input {
  background-color: var(--secondary);
  border: 0px;
  height: 30px;
  margin-bottom: 12px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  
 
}

.login input:focus {
  border: 0px;
  text-decoration: none;
  outline: none;

}

button {
  all: unset;
}

.login .submit {
  height: 30px;
  padding: 5px;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small);
  font-weight: bold;
  border-radius: 5px;
  font-size: var(--small);
  margin-top: 20px;
}

.login .password, .username, .forgot-password, .new-account {
  font-size: var(--small);
  margin-bottom: 5px;
}

.login .forgot-password,.new-register,.submit {
  
  cursor: pointer;
}

.login .forgot-password {
  margin-bottom: 0px;
  margin-top: 5px;
  color: var(--primary);
}

.login .new-register {
  color: var(--primary);
}

.login .new-account {
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.login .step-nav {
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.login .prev,.next {
   color: var(--primary);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: var(--small);
}

/* **************** SignUp ************** */

.Signup .app-name {
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  padding: 0px 32px;
  animation: shadow 2s ease-in-out infinite;
  font-size: var(--heading);
}

.Signup {
  background-color: var(--territary);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0px;
  padding: 32px 0px;
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

.Signup .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.Signup .heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 5px;

}

.Signup .sub-text {
  font-size: var(--medium);
}

.Signup form {
  width: calc(100% - 64px);
  padding: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0px;
  height: 73px;
  /* background-color: red; */
}

.Signup input {
  background-color: var(--secondary);
  border: 0px;
  height: 30px;
  margin-bottom: 0px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  /* width: 100%; */
 
}

.Signup input:focus {
  border: 0px;
  text-decoration: none;
  outline: none;

}

/* SelectBox.css */
.Signup select {
  width: 100%;
  padding: 10px;
  border: 0px solid #ccc;
  border-radius: 5px;
  background-color: var(--secondary);
  font-size: var(--small);
 
}

.Signup  select:focus {
  outline: none;
  border: 0px solid #007bff;
  /* box-shadow: 0 0 5px #007bff; */
}
 .Signup select option {
  /* background-color: white; */
  /* color: #333; */
  padding: 5px 10px;
  border: none;
  font-size: var(--small);
  outline: none;
  border: 1px solid #00ff88;
  background-color: white;
  color: #ef0404;  
}
.Signup  select option:hover {
  background-color: #000000;
  color: rgb(0, 0, 0);
}



.Signup .submit {
  /* height: 30px; */
  /* padding: 5px; */
  /* background-color: var(--primary); */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small);
  font-weight: bold;
  border-radius: 5px;
  font-size: var(--medium);
  margin-top: 0px;
  color: var(--primary);
  text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.Signup .password, .username, .forgot-password, .new-account {
  font-size: var(--small);
  margin-bottom: 5px;
}


.Signup .forgot-password,.new-register,.submit {
  
  cursor: pointer;
}

.Signup .forgot-password {
  margin-bottom: 10px;
  color: var(--primary);
}

.Signup .new-register {
  color: var(--primary);
}

.Signup .new-account {
  width: calc(100% - 64px);
  /* background-color: red; */
  padding: 0px 32px;
}

.Signup .step-nav {
  width: calc(100% - 64px);
  height: 20px;
  /* background-color: red; */
  padding: 0px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.Signup .prev,.next {
   color: var(--primary);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: var(--small);
}


/* Style the date picker input */
input[type="datetime-local"] {
  width: calc(100% - 20px);
  /* padding: 0px; */
  margin: 0px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  /* width: 100%; */
  /* background-color: #fff;  */
  color: #000000; 
  font-size: 18px; 
  padding: 5px; 
  filter: invert(1) grayscale(100%);
  border-radius: 50%; 
  /* border: 1px solid #ccc; */
}

/* Style the calendar days and set the background color */
input[type="datetime-local"]::-webkit-calendar-picker-indicator::before {
  color: #333;
  font-size: 16px;
  background-color: #000;
}

/* Style the calendar arrows */
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-clear-button {
  display: none;
}



/* ************ Not found ********************* */
.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
}

.not-found-heading {
  font-size: var(--heading);
  font-weight: bold;
  margin-bottom: 20px;
}

.not-found-404 {
  font-size: var(--big);
  
  /* position: absolute; */
  color: rgb(255, 255, 255);
  /* text-shadow: #6FEB6F 10px 10px; */
}

.joystick {
  /* filter: "drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25))"; */
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25) ;
}



/* ****** Circular bar *************************** */
.circular-bar-container {
  aspect-ratio: 1/1;
  /* background-color: var(--primary); */
  border-radius: 50%;

  position: relative
}

.circular-bar {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--primary); /* change color as needed */
  border-top-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
 /* change color as needed */
  animation: spin 0.2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 767px) {
  dialog { 
    width: 75%;
  }
  /* .login {
    min-height: 100vh;
   width: 100%;
    padding: 0%;
  } */
  .auth{
    padding: 0px;
    max-width: 100%;
    margin: 0px 20px;
  }
}

/* Styles for tablet devices */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Styles for desktop devices */
@media (min-width: 992px) {
  
}
